@charset "UTF-8";

body {
  font-family: "Helvetica Neue", "Segoe UI", "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
}

.mobile_non {
  display: block;
}

@media (max-width:320px){
}

@media (max-width:375px) and (min-width:321px){
}

@media (max-width:414px) and (min-width:376px){
}

@media (max-width:667px) and (min-width:415px){
}

@media (max-width:684px) and (min-width:668px){
}

@media (max-width:736px) and (min-width:685px){
}

@media (max-width:768px) and (min-width:737px){
}

@media (max-width:1024px) and (min-width:769px){
}

@media (max-width:991px){

.mobile_non {
  display: none;
}
}
